{{> header}}

<div id="contents">
  <div class="box">
    <div>
      <div class="body">
        <h1>Travel</h1>
        <ul id="sites">
          {{#if trips}}
            {{#each trips}}
              <li>
                <!-- Updated link to API endpoint -->
                <a href="/api/trips/{{code}}">
                  <img src="/images/{{image}}" alt="{{name}}" />
                </a>
                <h2><a href="/api/trips/{{code}}">{{name}}</a></h2>
                <p>{{description}}</p>
              </li>
            {{/each}}
          {{else}}
            <li><em>No trips available.</em></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{> footer}}
